@model StrangerThings.Models.Question

@{
    ViewBag.Title = "Edit Answer";
}

<!--Breadcrumb-->
<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb layout">
        <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "redtext" })</li>
        <li class="breadcrumb-item">@Html.ActionLink("Characters", "Index", "Characters", null, new { @class = "redtext" })</li>
        <li class="breadcrumb-item">@Html.ActionLink((string)ViewBag.CharacterFullName, "Details", "Characters", new { id = ViewBag.Character.CharacterID }, new { @class = "redtext" })</li>
        <li class="breadcrumb-item">@Html.ActionLink("FAQs", "Index", "Questions", new { id = ViewBag.Character.CharacterID }, new { @class = "redtext" })</li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
    </ol>
</nav>


<div class="row">
    <div class="col-md-4">
        @*Display the character image*@
        <img class="img-responsive img-rounded" src="@ViewBag.Character.PhotoLocation" />
    </div>
    <div class="col-md-8">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h3>@Model.QuestionDescription</h3>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.QuestionID)

                <div class="form-group">
                    @Html.LabelFor(model => model.Answer, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <textarea class="form-control"
                          id="answer"
                          name="answer"
                          rows="10"
                          cols="100">@Model.Answer</textarea>
                        @Html.ValidationMessageFor(model => model.Answer, "", new { @class = "text-danger" })
                    </div>
                </div>

                

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-red" />
                        @Html.ActionLink("Ignore Changes", "Index", "Questions", new { id = ViewBag.Character.CharacterID }, new { @class = "btn btn-red" })
                    </div>
                </div>
            </div>
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

    </div>
</div>


