@model IEnumerable<StrangerThings.Models.Question>

@{
    ViewBag.Title = ViewBag.CharacterFullName + " FAQ";
}

<!--Breadcrumb-->
<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb layout">
        <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "redtext" })</li>
        <li class="breadcrumb-item">@Html.ActionLink("Characters", "Index", "Characters", null, new { @class = "redtext" })</li>
        <li class="breadcrumb-item">@Html.ActionLink((string)ViewBag.CharacterFullName, "Details", "Characters", new { id = ViewBag.Character.CharacterID }, new { @class = "redtext" })</li>
        <li class="breadcrumb-item active" aria-current="page">FAQs</li>
    </ol>
</nav>


<div class="row">
    <div class="col-md-4 col-sm-6">
        @*Display the character image*@
        <img class="img-responsive img-rounded" src="@ViewBag.Character.PhotoLocation" />
    </div>
    <div class="col-md-8 col-sm-6">
        
        <div class="row">
            <div class="col-xs-6"><h2>@ViewBag.Character.CharacterFirstName @ViewBag.Character.CharacterLastName</h2></div>
            <div class="col-xs-6"><p class="pull-right">@Html.ActionLink("Ask a Question", "Create", "Questions", new { id = ViewBag.Character.CharacterID }, new { @class = "btn btn-red" })</p></div>
        </div>
        
        @foreach (var item in Model)
        {
            <p><b>Question:</b> @item.QuestionDescription</p>
            <p><b>Answer:</b> @item.Answer</p>
            <p>
                @Html.ActionLink("Answer", "EditAnswer", "Questions", new { id = item.QuestionID }, new { @class = "redtext" }) |
                @Html.ActionLink("Edit", "Edit", "Questions", new { id = item.QuestionID }, new { @class = "redtext" }) |
                @Html.ActionLink("Delete", "Delete", "Questions", new { id = item.QuestionID }, new { @class = "redtext" }) 
 
            </p>
        }


        @*Display options to edit, delete, or go back to character list*@

        <!--Navigates to the Details method in the Characters controller.  Passes in the character id of the current character-->
        <h3>@Html.ActionLink("Return to Character Bio", "Details", "Characters", new { id = ViewBag.Character.CharacterID }, new { @class = "btn btn-red" })</h3>

    </div>
</div>
