@{
    ViewBag.Title = "Send Us a Message";
}

<h2>@ViewBag.Title</h2><hr />

<div class="row">
    <div class="col-md-6">
        <h2>Address</h2>
        <p>
            Stranger Address<br />
            44601 Maple Street<br />
            Hawkins, IN 46001
        </p>
        <h2>Contact</h2>
        <p>
            Email: <a class="redtext" href="mailto:strangerwiki@gmail.com">strangerwiki@gmail.com</a><br />
            Phone: (427) 444-9274
        </p>
    </div>
    <div class="col-md-6">
        <h3>Have a Question?</h3>
        @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
        {
            @Html.Label("Name")<br />
            @Html.TextBox("Name")<br />

            @Html.Label("Email Address")<br />
            @Html.TextBox("Email Address")<br />

            @Html.Label("Topic")<br />
            @Html.DropDownList("Comment")<br /><br />

            @Html.Label("Leave a comment here")<br />
            @Html.TextArea("Leave a Comment")<br />

            <input class="btn btn-red" type="submit" value="Submit" />
        }
    </div>
</div>

<style>
    body {
        background-color: black;
        -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
        animation-name: example;
        animation-duration: .15s;
        animation-iteration-count: 3;
        animation-delay: 2s;
    }

    @@-webkit-keyframes example {
        0% {
            background-color: white;
        }

        25% {
            background-color: yellow;
        }

        50% {
            background-color: blue;
        }

        100% {
            background-color: green;
        }
    }

    @@keyframes example {
        0% {
            background-color: white;
        }

        25% {
            background-color: cyan;
        }

        50% {
            background-color: black;
        }

        100% {
            background-color: grey;
        }
    }
</style>