@model StrangerThings.Models.Character

@{
    ViewBag.CharacterFullName = @Model.CharacterFirstName + " " + @Model.CharacterLastName;
    ViewBag.Title = "Delete " + ViewBag.CharacterFullName;
}  

<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb layout">
        <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "redtext" })</li>
        <li class="breadcrumb-item">@Html.ActionLink("Characters", "Index", "Characters", null, new { @class = "redtext" })</li>
        <li class="breadcrumb-item">@Html.ActionLink((string)ViewBag.CharacterFullName, "Details", "Characters", new { id = Model.CharacterID }, new { @class = "redtext" })</li>
        <li class="breadcrumb-item active" aria-current="page">Delete</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-4 col-sm-6">
        @*Display the character image*@
        <img class="img-responsive img-rounded" src="@Model.PhotoLocation" />
    </div>

    <div class="col-md-8 col-sm-6">
       
        <h2>Are you sure you want to delete @ViewBag.CharacterFullName?</h2>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-red" /> |
                    @Html.ActionLink("Back to Character", "Details", new { id = Model.CharacterID }, new { @class="btn btn-red" })
                </div>
            }
    </div>
</div>
