@model StrangerThings.Models.Character  

@{
    ViewBag.Title = Model.CharacterFirstName + ' ' + Model.CharacterLastName;
}

<div class="row">
    <div class="col-md-4">
        @*Display the character image*@
        <img class="img-responsive img-rounded" src="@Model.PhotoLocation" />
    </div>
    <div class="col-md-8">
        @*Show the first name and last name for the character*@
        <h2>@Model.CharacterFirstName @Model.CharacterLastName</h2>

        @*Show the character description*@
        <p>@Model.CharacterDescription</p>

        @*Display character attributes*@
        <p><b>Year of Birth:</b> @Model.YearOfBirth</p>

        <p><b>Gender:</b> @Model.Gender</p>

        <p><b>Hometown:</b> @Model.Hometown</p>

        <p><b>Occupation:</b> @Model.Occupation</p>

        <p><b>Actor:</b> @Model.Actor</p>

        <p><b>Quote:</b> @Model.Quote</p>

        @{
            try
            {
                foreach (var item in Model.Questions)
                {
                    <p><b>Question: </b> @item.QuestionDescription</p>
                    <p><b>Answer: </b> @item.Answer</p>
                }
            }
            catch (Exception ex)
            {

            }
        }

        @*Display options to edit, delete, or go back to character list*@
        @Html.ActionLink("Edit", "Edit", new { id = Model.CharacterID }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.CharacterID }) |
        @Html.ActionLink("Back to Characters", "Index")
    </div>
</div>
