@model StrangerThings.Models.Character

@{
    ViewBag.Title = Model.CharacterFirstName + ' ' + Model.CharacterLastName;
}

<div class="row">
    <div class="col-md-4">
        @*Display the character image*@
        <img class="img-responsive img-rounded" src="@Model.PhotoLocation)" />
    </div>
    <div class="col-md-4">
        @*Show the first name and last name for the character*@
        <h2>@Html.DisplayNameFor(model => model.CharacterFirstName) @Html.DisplayNameFor(model => model.CharacterLastName)</h2>

        @*Show the character description*@
        <p>@Html.DisplayNameFor(model => model.CharacterDescription)</p>

        @*Display character attributes*@
        <p>
            <b>Year of Birth:</b>
            @Html.DisplayNameFor(model => model.YearOfBirth)
        </p>

        <p>
            <b>Gender:</b>
            @Html.DisplayNameFor(model => model.Gender)
        </p>

        <p>
            <b>Hometown:</b>
            @Html.DisplayNameFor(model => model.Hometown)
        </p>

        <p>
            <b>Occupation:</b>
            @Html.DisplayNameFor(model => model.Occupation)
        </p>

        <p>
            <b>Actor:</b>
            @Html.DisplayNameFor(model => model.Actor)
        </p>

        <p>
            <b>Quote:</b>
            @Html.DisplayNameFor(model => model.Quote)
        </p>

        @*Display options to edit, delete, or go back to character list*@
        @Html.ActionLink("Edit", "Edit", new { id = Model.CharacterID }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.CharacterID })
        @Html.ActionLink("Back to Characters", "Index")
    </div>
</div>

