@model IEnumerable<StrangerThings.Models.Character>

@{
    ViewBag.Title = "Characters";
}

<h2>Characters</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@{
    var list = Model.ToList();
}

@for (int i = 0; i < list.Count; i++)
{
    if (i % 4 == 0)
    {
        @:<div class="row">
    }

    <div class="col-md-3">
        <a href="@Url.Action("Details", "Characters", new { id = list[i].CharacterID })">

            @*Show the first name and last name for the character*@
            <h3>@Html.DisplayFor(modelItem => list[i].CharacterFirstName) @Html.DisplayFor(modelItem => list[i].CharacterLastName)</h3>

            @*Display the character image*@
            <img class="img-responsive img-thumbnail" src="@Html.DisplayFor(modelItem => list[i].PhotoLocation)" />
        </a>
    </div>

    if ((i + 1) % 4 == 0 || (i + 1) == list.Count)
    {
        @:</div>
    }
}



